html,
body {
  margin: 0px;
  background-color: #e0e0ff;
}

header {
  height: 40px;
  width: 100%;
  background-color: #f0f070;
  position: fixed;
  z-index: 100;
}

header ul {
  margin: 0px;
}

header ul li {
  display: inline-block;
  background-color: #B0B0B0;
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 120px;
}

header ul li:hover {
  background-color: #E0E0E0;
}

header ul li a {
  display: block;
}

.header-padding {
  height: 40px;
}

.main-img {
  padding-top: 40px;
  width: 100%;
}

.container {
  text-align: center;
  max-width: 1200px;
  margin: 0px auto;
}

.content,
main,
.sub {
  display: inline-block;
  float: left;
}

main {
  background-color: #70f0f0;
}

@media only screen and (min-width: 801px) {
  main {
    width: 74%;
    margin-right: 1%;
  }
}

@media only screen and (max-width: 800px) {
  main {
    width: 100%;
    margin: 0px 10px;
  }
}

main .search-bar {
  opacity: 0.8;
  font-size: 18px;
}

main .search-bar {
  outline: 0;
  border: 0px;
}

main .search-button {
  background-color: #9090F0;
  border: none;
  font-size: 18px;
}

main .search-button:active {
  background-color: #90F090;
}

.post {
  background-color: #F07070;
  display: inline-block;
  margin: 5px auto;
  width: 95%;
  height: 100px;
}

.post .post-img {
  width: 200px;
  height: 100px;
  float: left;
}

.post .post-detail {
  float: left;
  margin: 0px;
}

.sub {
  background-color: #f070f0;
}

@media only screen and (min-width: 801px) {
  .sub {
    width: 25%;
  }
}

@media only screen and (max-width: 800px) {
  .sub {
    width: 70%;
    min-width: 300px;
    margin: 10px auto;
    float: none;
  }
}

