@charset "UTF-8";

html,
body {
  margin: 0px;
  background-color: #E6E6FF;
  font-family: "Lucida Grande", "segoe UI", "\30D2\30E9\30AE\30CE\4E38\30B4   ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
  color: #303030;
}

html a,
body a {
  color: #303030;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
}

html a:hover,
body a:hover {
  color: #F07070;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.header-li,
header .large-header li,
header .small-header li,
header .small-menu li {
  background-color: #C5C4EF;
  height: 40px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header-li:hover,
header .large-header li:hover,
header .small-header li:hover,
header .small-menu li:hover {
  background-color: #9090E0;
}

.header-li a,
header .large-header li a,
header .small-header li a,
header .small-menu li a {
  display: block;
}

header {
  height: 40px;
  width: 100%;
  background-color: #C5C4EF;
  position: fixed;
  z-index: 100;
}

@media only screen and (max-width: 800px) {
  header .large-header {
    display: none;
  }
}

@media only screen and (min-width: 801px) {
  header .small-header {
    display: none;
  }
}

header a {
  color: #404040;
}

header a:hover {
  color: #000000;
}

header .large-header {
  margin: 0px;
}

header .large-header li {
  display: inline-block;
  float: left;
  width: 120px;
}

header .small-header {
  margin: 0px;
}

header .small-header li {
  display: inline-block;
  float: left;
  width: 120px;
}

header .small-header .menu-trigger {
  cursor: pointer;
}

header .small-header .menu-trigger:hover .small-menu {
  display: block;
}

header .small-menu {
  display: none;
  margin: 0px;
  padding: 40px 0px 0px 0px;
}

header .small-menu li {
  height: 60px;
  line-height: 60px;
}

.header-padding {
  height: 40px;
}

.main-img {
  padding-top: 40px;
  width: 100%;
}

.content,
main,
.sub {
  display: inline-block;
  float: left;
}

main {
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid #6363F0;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  margin: 0px 10px;
}

@media only screen and (min-width: 801px) {
  main {
    width: calc(75% - 20px);
  }
}

@media only screen and (max-width: 800px) {
  main {
    width: calc(100% - 20px);
  }
}

main .search-bar {
  outline: 0px;
  border: 0px;
  background-color: #D0D0D0;
  font-size: 18px;
  width: 150px;
  padding: 5px;
}

main .search-button {
  background-color: #9090F0;
  outline: 0px;
  border: 0px;
  font-size: 18px;
  padding: 5px;
}

main .search-button:active {
  background-color: #90F090;
}

main .search-count {
  padding-top: 10px;
  padding-bottom: 10px;
}

main .section {
  padding: 10px 0px;
  text-align: left;
}

main .section .section-title {
  font-size: 22px;
  padding: 3px 30px;
  background-color: rgba(0, 0, 255, 0.2);
  border-bottom: 2px solid #8383F0;
  border-radius: 3px;
}

main .section .section-content {
  padding: 0px 30px;
}

main .section .section-content a {
  color: #A00000;
  text-decoration: underline;
}

main .section .section-content a:hover {
  color: #F07070;
}

main .section ul {
  list-style-type: none;
  padding: 0px;
}

.post {
  background-color: #DADAF0;
  display: inline-block;
  margin: 10px auto;
  width: 95%;
  height: 100px;
  border: 2px solid #9090F0;
  border-radius: 3px;
}

.post a {
  display: block;
  width: 100%;
  height: 100%;
}

.post .post-image {
  width: 100px;
  height: 100px;
  float: left;
}

.post .post-detail {
  text-align: left;
  float: left;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(100% - 100px);
}

.post .post-detail .post-title {
  border-bottom: 1px solid #F0A0A0;
  padding-bottom: 3px;
  margin-bottom: 5px;
  font-size: 20px;
}

.post .post-detail .post-abstract {
  margin-bottom: 5px;
  margin-left: 20px;
}

.post .post-detail .post-date {
  display: inline-block;
  float: left;
  margin-left: 20px;
  width: 100px;
}

.post .post-detail .post-tag {
  display: inline-block;
  float: left;
  margin-left: 10px;
}

.sub {
  background-color: #f070f0;
}

@media only screen and (min-width: 801px) {
  .sub {
    width: calc(25% - 10px);
    margin-right: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .sub {
    width: 70%;
    min-width: 300px;
    margin: 10px auto;
    float: none;
  }
}

