html, body {
	margin: 0px;
	// for debug
	background-color: #e0e0ff;
}

// ヘッダーと上の画像部分
@import "header.scss";

// mainとsubの親
.container {
	text-align: center;
	max-width: 1200px;
	margin: 0px auto;
}

// mainとsubに適用する
.content {
	display: inline-block;
	float: left;
}

main {
  @extend .content;
  width: 75%;
	// for debug
	background-color: #70f0f0;
}
// mainの内部
@import "main.scss";

.sub {
  @extend .content;
  width: 25%;
  // for debug
  background-color: #f070f0;
}
