$font-color: #303030;
$transition: all 0.3s ease;

html, body {
	margin: 0px;
	// for debug
	background-color: #E6E6FF;
	font-family: "Lucida Grande", "segoe UI", "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN", Meiryo, Arial, sans-serif;
	color: $font-color;

	a {
		color: $font-color;
		transition: $transition;
		text-decoration: none;

		&:hover {
			color: #F07070;
		}
	}

	img {
		max-width: 100%
	}
}

// mainとsubの親
.container {
	text-align: center;
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}

$small: "only screen and (max-width:800px)";
$large: "only screen and (min-width:801px)";

// ヘッダーと上の画像部分
@import "header.scss";

// mainとsubに適用する
.content {
	display: inline-block;
	float: left;
}

// mainの内部
@import "main.scss";

// 記事のインデックス
@import "post.scss";

.sub {
  @extend .content;

	@media #{$large} {
		width: calc(25% - 10px);
		margin-right: 10px;
	}

	@media #{$small} {
		width: 70%;
		min-width: 300px;
		margin: 10px auto;
		float: none;
	}
}
