main {
  @extend .content;

  @media #{$large} {
	  width: 74%;
	  margin-right: 1%; 
  }

  @media #{$small} {
    width: 100%;
		margin: 0px 10px;
  }

  // for debug
  background-color: #70f0f0;

	$main-fontsize: 18px;
	.search-bar {
		opacity: 0.8;
		font-size: $main-fontsize;
	}

	.search-bar {
		outline: 0;
		border: 0px;
	}

	.search-button {
		background-color: #9090F0;
		border: none;
		font-size: $main-fontsize;

		&:active {
			background-color: #90F090;
		}
	}
}