.post {
	$post-height: 100px;

	// for debug
	background-color: #F07070;
	display: inline-block;
	margin: 5px auto;
	width: 95%;
	height: $post-height;

	a {
		display: block;
		width: 100%;
		height: 100%;
	}

	.post-image {
		width: $post-height;
		height: $post-height;
		float: left;
	}

	.post-detail {
		text-align: left;
		padding: 10px;
		width: 100%;

		.post-title, .post-abstract {
			margin-left: 20px;
		}

		.post-tag {
			display: inline-block:
			float: left;
		}
	}
}