.section {
	padding: 10px 0px;
	text-align: left;
	
	$padding-size: 30px;

	.section-title {
		font-size: 22px;
		padding-left: $padding-size;
		padding-top: 3px;
		padding-bottom: 3px;

		background-color: rgba(#0000FF, 0.2);
		border-bottom: 2px solid #8383F0;
		border-radius: 3px;
	}

	.section-content {
		padding-left: $padding-size;

		a {
			color: #A00000;
			text-decoration: underline;

			&:hover {
				color: #F07070;
			}
		}
	}

	ul {
		list-style-type: none;
		padding: 0px;
	}
}
